@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
font-family: 'League Spartan', sans-serif;
  

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


body {
  margin: 0;
  font-size: 12px;
background-repeat: no-repeat;
  background-size: contain;
  
}

p{
  color:hsl(0, 0%, 63%);
  font: size 12px;
}

li:hover{
  text-decoration: underline white;
  
}
li:focus{
  text-decoration: underline white;
}